/.kube-secrets
/tmp
/dev
/local
/example/local-setup/dev
**/dev
/bin
/hack/tools/bin

*.test
*.coverprofile
*.html
.vscode
.idea
.DS_Store
*~

TODO

# Virtual go & fuse
.virtualgo
.fuse_hidden*

.go-version

/gardener

# gosec
gosec-report.sarif

# generated golangci config file
.golangci.yaml
