---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: {{ include "name" . }}
  labels:
    app.kubernetes.io/name: {{ include "name" . }}
    app.kubernetes.io/instance: {{ .Release.Name }}
rules:
{{- if .Values.gardener.runtimeCluster.enabled }}
- apiGroups:
  - operator.gardener.cloud
  resources:
  - gardens
  verbs:
  - get
  - list
  - watch
{{- else }}
- apiGroups:
  - extensions.gardener.cloud
  resources:
  - clusters
  verbs:
  - get
  - list
  - watch
{{- end }}
- apiGroups:
  {{- if .Values.gardener.runtimeCluster.enabled }}
  - operator.gardener.cloud
  {{- end }}
  - extensions.gardener.cloud
  resources:
  - extensions
  - extensions/status
  verbs:
  - get
  - list
  - watch
  - patch
  - update
- apiGroups:
  - resources.gardener.cloud
  resources:
  - managedresources
  verbs:
  - get
  - list
  - watch
  - create
  - update
  - patch
  - delete
- apiGroups:
  - ""
  resources:
  - secrets
  verbs:
  - get
  - list
  - watch
  - create
  - update
  - patch
  - delete
- apiGroups:
  - ""
  resources:
  - namespaces
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - apps
  resources:
  - deployments
  verbs:
  - get
{{- if .Values.gardener.runtimeCluster.enabled }}
  - list
{{- end }}
{{- if .Values.gardener.runtimeCluster.enabled }}
- apiGroups:
  - apps
  resources:
  - deployments
  resourceNames:
  - gardener-apiserver
  - virtual-garden-kube-apiserver
  verbs:
  - patch
{{- end }}
- apiGroups:
  - ""
  resources:
  - pods
  verbs:
  - list
- apiGroups:
  - coordination.k8s.io
  resources:
  - leases
  verbs:
  - list
  - watch
- apiGroups:
  - admissionregistration.k8s.io
  resources:
  - mutatingwebhookconfigurations
  verbs:
  - get
  - list
  - watch
  - update
  - create
  - patch
